In [1]:
import pandas as pd

In [20]:
df100 = pd.read_csv('t_exe100.txt', header=None)
df100 = df100.dropna(axis=1, how='all')
df100.columns = ['B.L', 'B.L.2', 'B.L.R', 'B.B.I', 'B.B.R']

df1000 = pd.read_csv('t_exe1000.txt', header=None)
df1000 = df1000.dropna(axis=1, how='all')
df1000.columns = ['B.L', 'B.L.2', 'B.L.R', 'B.B.I', 'B.B.R']

df10000 = pd.read_csv('t_exe10000.txt', header=None)
df10000 = df10000.dropna(axis=1, how='all')
df10000.columns = ['B.L', 'B.L.2', 'B.L.R', 'B.B.I', 'B.B.R']

df14000 = pd.read_csv('t_exeCM345714000.txt', header=None)
df14000 = df14000.dropna(axis=1, how='all')
df14000.columns = ['B.L', 'B.L.2', 'B.L.R', 'B.B.I', 'B.B.R']

algoBuscas100 = [df100['B.L'].mean(), df100['B.L.2'].mean(), df100['B.L.R'].mean(), df100['B.B.I'].mean(), df100['B.B.R'].mean()]
algoBuscas1000 = [df1000['B.L'].mean(), df1000['B.L.2'].mean(), df1000['B.L.R'].mean(), df1000['B.B.I'].mean(), df1000['B.B.R'].mean()]
algoBuscas10000 = [df10000['B.L'].mean(), df10000['B.L.2'].mean(), df10000['B.L.R'].mean(), df10000['B.B.I'].mean(), df10000['B.B.R'].mean()]
algoBuscas14000 = [df14000['B.L'].mean(), df14000['B.L.2'].mean(), df14000['B.L.R'].mean(), df14000['B.B.I'].mean(), df14000['B.B.R'].mean()]

In [18]:
df14000

      B.L   B.L.2   B.L.R  B.B.I  B.B.R
0   50200   87000  533500   5000   4500
1   49900   82000   30000   1600   1700
2   63900  105500   25400   1700   2200
3   63700  107600   33200   1700   2100
4   60500  109900   21500   1400   2200
..    ...     ...     ...    ...    ...
95  14500   22200    8400   1300    500
96  15600   20800    8100   1300    500
97  13200   19100    8900   1300    500
98  15600   20000    8700   1300    500
99  13900   20100    9000   1300    500

[100 rows x 5 columns]

In [4]:
for i in range(len(algoBuscas100)):
    print(algoBuscas100[i])

707.0
347.0
397.0
825.0
1165.0

In [7]:
for i in range(len(algoBuscas1000)):
    print(algoBuscas1000[i])

512.0
277.0
312.0
836.0
1116.0

In [10]:
for i in range(len(algoBuscas10000)):
    print(algoBuscas10000[i])

218.0
235.0
252.0
804.0
1536.0

In [21]:

for i in range(len(algoBuscas14000)):
    print(algoBuscas14000[i])

27440.0
42195.0
18572.0
1439.0
1801.0